.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fold {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	box-shadow: 5px -4px 18px 0px;
	transition: all 1.5s;
	z-index: 2;
}

.fold:hover {
	border-right: 140px solid black !important;
	border-bottom: 140px solid white !important;
	cursor: pointer;
}

.contactme {
	position: absolute;
	top: 20px;
	right: 140px;
	transition: all 1s;
}

.contact {
	position: relative;
	top: 0px;
	left: 0px;
	color: white;
	transition: all 1s;
	z-index: 5;
}

div.contact > h1 {
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	line-height: 1.15;
    font-size: 4rem;
}

div.contact > h2 {
	color: white;
	position: absolute;
	top: 20px;
	right: 75px;
	z-index: 5;
	font-size: 3rem;
}

div.contact > h2:hover {
	cursor: pointer;
}

div.contact > div {
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	z-index: 5;
	/* text-align: center; */
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
	text-align: center;
	/* height: 100vh; */
}

.pronunciation {
	padding-right: 590px;
	transition: all 1s;
}

.subtitle {
	position: absolute;
	bottom: 60px;
	text-align: center;
	width: 80px;
}

.backup:before,
.subtitle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: .25s linear;
}

.backup:hover:before,
.backup:focus:before,
.subtitle:hover:before,
.subtitle:focus:before {
    visibility: visible;
    transform: scaleX(1);
}

.backup {
	position: absolute;
	top: calc(100vh + 60px);
	bottom: auto;
	left: 50vw;
	transform: translateX(-50%);
	transition: all 1s;
}

.link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: .25s linear;
}

.link:hover:before,
.link:focus:before {
    visibility: visible;
    transform: scaleX(1);
}

.backup:hover,
.link:hover {
	cursor: pointer;
}

#closecontact {
	position: absolute;
	top: calc(100vh - 60px);
	left: 50vw;
	transform: translateX(-50%);
	color: white;
}

.categories {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

.skillwrapper {
	margin: 0;
	padding: 0;
	width: 50vw;
	height: 50vh;
	float: left;
	background: white;
}

.skill {
	width: 40vw;
	height: 40vh;
	margin: 5vh 5vw;
	background: white;
	flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	transition: all 1s;
}

.square {
	height: 20px;
	width: 20px;
	position: absolute;
	bottom: -50vh;
	left: 50vw;
	transform: translate(-50%, 50%);
	background-color: white;
}

.skill:hover {
	background: rgba(0, 0, 0, .8);
	cursor: pointer;
}

div.skill > p {
	color: white;
}

div.skill > h1 {
	padding-top: 101px;
}

div.skill > div:first-child {
	margin-top: 20px;
}

.skilltype {
	width: 320px;
}

div.skilltype > p {
	margin-bottom: 0px;
	color: white;
}

div.skilltype > p:first-child {
	float: left;
}

div.skilltype > p:last-child {
	float: right;
}

div.categories > div > h1 {
	text-align: center;
}

