#linkone {
    position: absolute;
    top: calc(50vh - 60px);
    left: 50vw;
    transform: translateX(-220px);
}

#linktwo {
    position: absolute;
    top: calc(50vh - 20px);
    left: 50vw;
    transform: translateX(-220px);
}

#linkthree {
    position: absolute;
    top: calc(50vh + 20px);
    left: 50vw;
    transform: translateX(-220px);
}

#linkfour {
    position: absolute;
    top: calc(50vh + 60px);
    left: 50vw;
    transform: translateX(-220px);
}
